<h1>Enter your new peep</h1>
	<form action='/peeps' method='post'>
		<p>
			<input type="text" name="title" placeholder="Title">
		</p>
		<p>
			<input type="text" name="text" placeholder="Compose new peep">
		</p>
		<p>
			<input type="submit" value="Peep" class="button">
		</p>
	</form>